.WrapperButton2 a {
    color: #fff;
    background-color:blue;
    border: 2px solid blue;
    padding: 8px 30px;
    border-radius: 10px;
    font-weight: 500;
}

.WrapperButton2 a:hover{
    background-color:#fff;
    border: 2px solid black;
    color: blue;
    cursor: pointer;
}