.WrapperButtonUltra a {
    color: #fff;
    background-color:blue;
    padding: 8px 30px;
    border-radius: 10px;
    font-weight: 500;
}

.WrapperButtonUltra a:hover {
    background-color: #fff;
    color: blue;
    cursor: pointer;
}