* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  text-rendering: auto;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

button {
  cursor: pointer;
}
